{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread": true
        },
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "static": 0,
        /* Possible Errors Rules Start */
        "comma-dangle": [
            2,
            "always"
        ],
        "no-inner-declarations": [
            2,
            "both"
        ],
        /* Possible Errors Rules End */

        /* Best Practices Rules Start */
        "accessor-pairs": [
            2,
            {
                "getWithoutSet": true
            }
        ],
        "block-scoped-var": 2,
        "complexity": [2, 15],
        "consistent-return": 2,
        "curly": [2, "all"],
        "default-case": 2,
        "dot-location": [2, "object"],
        "dot-notation": [2, {"allowKeywords": true}],
        "eqeqeq": 2,
        "guard-for-in": 2,
        "no-console": 1,
        "no-alert": 2,
        "no-caller": 2,
        "no-case-declarations": 2,
        "no-div-regex": 2,
        "no-else-return": 2,
        "no-empty-pattern": 2,
        "no-eval": 2,
        "no-extend-native": 2,
        "no-extra-bind": 2,
        "no-fallthrough": 2,
        "no-floating-decimal": 2,
        "no-implicit-coercion": 2,
        "no-implied-eval": 2,
        "no-invalid-this": 2,
        "no-iterator": 2,
        "no-labels": 2,
        "no-lone-blocks": 2,
        "no-magic-numbers": 2,
        "no-multi-spaces": 2,
        "no-multi-str": 2,
        "no-native-reassign": 2,
        "no-new-func": 2,
        "no-new-wrappers": 2,
        "no-new": 2,
        "no-octal": 2,
        "no-octal-escape": 2,
        "no-proto": 2,
        "no-redeclare": 2,
        "no-return-assign": [2, "always"],
        "no-script-url": 2,
        "no-self-compare": 2,
        "no-sequences": 2,
        "no-throw-literal": 2,
        "no-unused-expressions": 2,
        "no-useless-call": 2,
        "no-useless-concat": 2,
        "no-void": 2,
        "no-warning-comments": [
            1,
            {
                "terms": [
                    "todo"
                ],
                "location": "start"
            }
        ],
        "no-with": 2,
        "radix": 2,
        "wrap-iife": [
            2,
            "outside"
        ],
        "yoda": 2,
        /* Best Practices Rules End */

        /* Strict Mode Rules Start */
        "strict": 2,
        /* Strict Mode Rules End */

        /* Variables Rules Start */
        "init-declarations": [
            2,
            "always"
        ],
        "no-catch-shadow": 2,
        "no-delete-var": 2,
        "no-label-var": 2,
        "no-shadow-restricted-names": 2,
        "no-shadow": 2,
        "no-undef-init": 2,
        "no-undef": 2,
        "no-undefined": 2,
        "no-unused-vars": 2,
        "no-use-before-define": 2,
        /* Variables Rules End */

        /* Node.js and CommonJS Rules Start */
        "callback-return": 2,
        "handle-callback-err": 2,
        "no-mixed-requires": 2,
        "no-new-require": 2,
        "no-path-concat": 2,
        "no-process-exit": 2,
        "no-sync": 2,
        /* Node.js and CommonJS Rules End */

        /* Stylistic Issues Rules Start */
        "array-bracket-spacing": [
            2,
            "never"
        ],
        "block-spacing": 2,
        "brace-style": 2,
        "camelcase": 2,
        "comma-spacing": 2,
        "comma-style": 2,
        "computed-property-spacing": 2,
        "consistent-this": [
            2,
            "that"
        ],
        "eol-last": 2,
        "func-names": 2,
        "func-style": [
            2,
            "declaration",
            {
                "allowArrowFunctions": true
            }
        ],
        "id-length": [
            2,
            {
                "min": 2,
                "max": 30,
                "exceptions": ["$", "e", "i", "j"]
            }
        ],
        "indent": [
            2,
            4,
            {
                "SwitchCase": 1,
                "VariableDeclarator": 1
            }
        ],
        "key-spacing": 2,
        "linebreak-style": [
            2,
            "unix"
        ],
        "lines-around-comment": [
            2,
            {
                "beforeBlockComment": false,
                "beforeLineComment": false,
                "allowBlockStart": true,
                "allowBlockEnd": true,
                "allowObjectStart": true,
                "allowObjectEnd": true,
                "allowArrayStart": true,
                "allowArrayEnd": true
            }
        ],
        "max-nested-callbacks": [
            2,
            3
        ],
        "new-cap": 2,
        "new-parens": 2,
        "newline-after-var": 2,
        "no-array-constructor": 2,
        "no-continue": 2,
        "no-inline-comments": 2,
        "no-lonely-if": 2,
        "no-mixed-spaces-and-tabs": 2,
        "no-multiple-empty-lines": [
            2,
            {
                max: 2
            }
        ],
        "no-negated-condition": 2,
        "no-nested-ternary": 2,
        "no-new-object": 2,
        "no-spaced-func": 2,
        "no-ternary": 0,
        "no-trailing-spaces": 2,
        "no-underscore-dangle": 2,
        "no-unneeded-ternary": [
            2,
            {
                "defaultAssignment":
                true
            }
        ],
        "object-curly-spacing": 2,
        "one-var": [
            2,
            "never"
        ],
        operator-assignment: [
            2,
            "always"
        ],
        "operator-linebreak": 2,
        "padded-blocks": 0,
        "quote-props": [
            2,
            "as-needed"
        ],
        "quotes": [
            2,
            "single"
        ],
        "require-jsdoc": 0,
        "semi-spacing": 2,
        "semi": [
            2,
            "always"
        ],
        "sort-vars": 2,
        "space-before-blocks": 2,
        "space-before-function-paren": [
            2,
            {
                "anonymous": "always",
                "named": "never"
            }
        ],
        "keyword-spacing": 2,
        "no-confusing-arrow": 2,
        "no-constant-condition": 2,
        "space-in-parens": 2,
        "space-infix-ops": [
            2,
            {
                "int32Hint": false
            }
        ],
        "space-unary-ops": 1,
        "spaced-comment": [
            2,
            "always"
        ],
        /* Stylistic Issues Rules End */

        /* ECMAScript 6 Rules Start */
        "arrow-body-style": [
            2,
            "as-needed"
        ],
        "arrow-parens": 2,
        "arrow-spacing": 2,
        "constructor-super": 2,
        "generator-star-spacing": 2,
        "no-class-assign": 2,
        "no-const-assign": 2,
        "no-dupe-class-members": 2,
        "no-this-before-super": 2,
        "no-var": 2,
        "object-shorthand": 2,
        "prefer-arrow-callback": 2,
        "prefer-const": 2,
        "prefer-reflect": 2,
        "prefer-spread": 2,
        "prefer-template": 2,
        "require-yield": 2,
        /* ECMAScript 6 Rules End */

        /* Legacy Rules Start */
        "max-depth": 2,
        "max-len": [
            2,
            120,
            4
        ],
        "max-params": [
            2,
            60
        ],
        "max-statements": [2, 15],
        "no-bitwise": 2,
        "no-plusplus": 2,
        /* Legacy Rules End */

        /* JSX Rules Start */
        "jsx-quotes": 2,
        "react/jsx-uses-react": 2,
        "react/jsx-uses-vars": 2,
        /* JSX Rules End */
    },
    "env": {
        "es6": true,
        "browser": true
    },
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "globals": {
        "require": true,
        "module": true
    }
}
